<div class="container">
  <div class="alert alert-danger" *ngIf="errorMsg"> {{errorMsg}}</div>
  <div class="card-group" style="text-align:center" *ngIf="allBooks.length>0">
    <div *ngFor="let book of allBooks" class="col-md-4">
      <div class="card">
        <div class="card-header">{{book.name}}</div>
        <div class="card-body">
          <p *ngIf="book.authors.length!=undefined && book.authors.length>0">
            Authors:
            <span *ngFor="let author of book.authors;let first=first;let last=last">{{author}}{{last? " ":", "}}</span>
          </p>
          <p>Released on {{book.released |date}}</p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary" (click)="routeTo('books',book.url)">Details</a>
        </div>
      </div>
    </div>
  </div>
</div>